@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background: black url('../imagens/tela-home.jpg') no-repeat top center;
    background-size: cover;
    font-family: sans-serif;
}

img {
    width: 100vw;
}

a {
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
    background-color: red;

}