@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu>ul>li {
        display: inline-block;
        border-top: none;
    }
    menu>ul>li>a {
        border-top: none;
    }

    main {
        width: 768px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
}
